.cv {
    @extend %cuadrotexto;
    margin-top: 20px;
    width: 100%;

    &__card__list {
        list-style: circle;
    }
}




@media only screen and (min-width: 960px) {
    .main__cv {
        @include flexbox (row, null, space-between, null)
        width: 100%;

        .cv {
            width: 30vw;
        }
    }
}