.carousel-inner {
    max-width: 80vw;
    max-height: 500px;
    object-fit: contain;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .carousel-item {
        object-fit: fill;
    }
}


.carousel__button {
    background-color: map-get($paletacolores, colorprincipal);
    border-radius: 20px;
}

.carousel-indicators [data-bs-target] {
    background-color: map-get($paletacolores, colorprincipal);
}