body {
    font-family: 'Open Sans', sans-serif;
} 

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #c130f1;
}

header h1{
    text-align: justify;
    color: white;
    padding: 10px 0;
    margin-right: 20%;
}


.dropdown-menu {
    background-color: #c130f1;
    border: none;
}


.dropdown-menu[data-bs-popper] {
    margin-left: -40%;
}

.dropdown-item {
    color: white;
}
