body {
    font-family: 'Open Sans', sans-serif;
} 

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #c130f1;
}

header h1{
    text-align: center;
    color: white;
    padding: 10px 0;
    margin-right: 10%;
}


.dropdown-menu {
    background-color: #c130f1;
    border: none;
}


.dropdown-menu[data-bs-popper] {
    margin-left: -40%;
}

.dropdown-item {
    color: white;
}

footer {
    position: sticky;
    right: 0;
    bottom: 0;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

footer ul li {
    margin: 1%;
    width: 10vw;
    list-style: none;
}

.presentation {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    width: 100vw;
    margin: 10% 0;
}

.presentation__image {
    grid-row: 1 / 2;
    grid-column: 2 / 5;
}

.presentation__text {
    grid-row: 2 / 3;
    grid-column: 2 / 5;
    margin-top: 10%;
    border: #c130f1 solid 10px;
    border-radius: 20px;
    text-align: center;
    padding: 5%;
}